:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.icon-buttons {
  float: right;
}

.icon-buttons button {
  cursor: pointer;
  border: none;
  padding: 2px;
}

button {
  background-color: #f9f9f9;
}

.key {
  font-weight: bold;
}

.code-container {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.current-line {
  background-color: #FFFFCC;
}

.line-number {
  min-width: 3em;  /* Width for up to 3 digits */
  padding-right: 1em;
  text-align: right;
  user-select: none;  /* Prevent selection of line numbers */
  display: inline-block;
  color: lightgray;
  cursor: pointer;
}

.line-number:hover {
  color: black;
}

.line span {
  vertical-align: top;
}

.markdown h1 {
  margin: 0;
  padding: 0;
  line-height: inherit;
  display: inline-block;
}

.markdown h2 {
  margin: 0;
  padding: 0;
  line-height: inherit;
  display: inline-block;
}

.markdown ul {
  margin: 0;
  padding: 0;
  line-height: inherit;
  display: inline-block;
  list-style-position: inside;
  list-style-type: disc;
}

.markdown ol {
  margin: 0;
  padding-left: 17px;
  line-height: inherit;
  display: inline-block;
}

.link-container {
  display: inline-block;
  position: relative;
}

.link-hover-panel {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 600px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.link-container:hover .link-hover-panel {
  display: block;
}

.link-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.link-authors {
  color: #666;
  margin-bottom: 2px;
}

.link-date {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 4px;
}

.link-description {
  font-size: 0.9em;
  line-height: 1.4;
}

.link-notes {
  color: gray;
  font-size: 0.9em;
  line-height: 1.4;
}

.trace-viewer-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.lines-panel {
  flex: 1;
  position: relative;
  min-width: 1000px;
  overflow-x: auto;
}

.renderings {
  display: inline-block;
  width: 800px;
}

.env-panel {
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  max-height: 90vh;
}

.env {
  border: 1px solid black;
  background-color: #dfffff;
  min-width: 500px;
  max-width: 500px;
  min-height: 100px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.env td {
  vertical-align: top;
}

.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 20px 0;
}

.header-title {
  flex: 1;
}

.cloaked {
  opacity: 0.2;
}